body {
    height: 100%;
    margin: 0;
    transition: transform .2s;
}
h1 {
    font-size:32px;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    font-weight: 600;
}
p {
    font-size:16px;
    font-weight: 400;
    margin:0;
    line-height: 32px;
}
.profile {
    border-radius: 50%;
    max-height:50%;
    max-height:50vh;
    width: auto;
    border: solid;
}
.imagepop:hover {
    transform: scale(1.05);
}
.dark-background {
    background-color: #EDEEEF;
    text-align: center;
}
.light-background {
    background-color: #FFFFFF;
    text-align: center;
}
.game-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-right:30px;
    margin-left: 30px;
}
.game-grid-container div img {
    border: solid;
}
.game-grid-img {
    width: 99%;
}
.other-grid-img {
    max-width: 80%;
}
.game-grid-img-wrapper {
    position: relative;
}
.firstdiv {
    background-image: url('../images/scene.png');
    background-position: right center;
    color: white;
    font-style: bold;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    height: 80vh;
    display: table;
    width: 100%;
}
.firstdiv div {
    display: table-cell;
    vertical-align: middle;
}
.firstdiv div h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 32px;
}
.firstdiv h1:empty:before {
    content:'|';
}
.icon-img {
    border-radius: 50%;
    width: 48px;
    background-color: black;
    margin-top: 10px;
}
.hoverinvert:hover {
    filter: invert(100%);
}
.footer-link {
    font-size: 18px;
}
.about-wrapper {
    width: 90%;
    margin: 0 auto;
}
.about {
    text-align: justify;
}
.play-game-svg {
    fill:#fff;
    color:#151513;
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
}
.play-game-img {
    position: absolute;
    top: 0;
    left: 0;
    width:45px;
    border: 0 !important;
    transform: rotate(-45deg);
}

/* Source http://vclever.com/blog/how-to-style-a-heading-with-horizontal-lines-either-side-using-css/ */
@media screen and (min-width: 600px) {
    .firstdiv div h1 {
        font-size: 48px;
    }
    .game-grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .lineHeader {
        overflow: hidden;
        text-align: center;
    }
    .lineHeader:before,
    .lineHeader:after {
        background-color: black;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 65px;
    }
    .lineHeader:before {
        right: 0.5em;
        margin-left: -50%;
    }
    .lineHeader:after {
        left: 0.5em;
        margin-right: -50%;
    }
    .icon-img {
        width: 60px;
    }
    .about-wrapper {
        width: 518px;
    }
}
