@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  } 
}
body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
}
.control {
    width: 192px;
    height: 100%;
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.profile img {
    max-width: 97%;
    border-radius: 50%;
}
.profile p {
    margin: 0;
}
.nav {
    height: 100%;
}
.nav button {
    display: block;
    margin:0 auto;
    border: none;
    font-size: 32px;
}
.nav button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.external {
    width: 100%;
}
.external ul {
    margin: 0;
    padding: 0;
}
.external ul > li {
    display: inline-block;
    background-color: #494b4b;
    width: 38px;
    height: 38px;
}
.external img {
    width: 30px;
    height:30px;
    padding-top:4px;
}
.profile,
.nav,
.external {
    display: table-row;
}
body {
    background-color: black;
}
.control,
.nav button,
.external,
.background div {
    background-color: #494b4b;
}
.profile p,
.nav button {
    color: #d4ce46;
}
.background {
    animation: 1s ease-out 0s 1 slideInFromRight;
    background-image: url("../images/background-zelda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    flex: 1;
}
.background div {
    height: 100%;
    overflow: hidden;
    display: inline-block;
    overflow: auto;
    color:#d4ce46;
}
.background div div {
    padding-left: 10px;
}
.background h2 {
    color: #0d9263;
}
.background div a,
.profile a {
    color: #4aba91;
}
.repo {
    height: 30px;
    vertical-align: middle;
}
.collapsed {
    transition: width 0.5s 1s ease-out;
    width: 0%;
}
.expanded {
    transition: width 1s ease-out;
    width: 100%;
}
.collapsed div {
    transition: opacity 1s ease-out;
    opacity: 0; 
}
.expanded div {
    transition: opacity 0.5s 1s ease-out;
    opacity: 100;
}
