@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  } 
}
body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
}
.control {
    border-right: 5px solid orange;
    width: 192px;
    height: 100%;
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.profile img {
    max-width: 97%;
    border-radius: 50%;
    border: solid black;
}
.profile p {
    margin: 0;
    color: orange;
}
.nav {
    height: 100%;
}
.nav button {
    display: block;
    margin:0 auto;
    border: none;
    font-size: 32px;
    color: orange;
}
.nav button:hover {
    text-decoration: underline;
}
.external {
    background-color:white;
}
.external ul {
    margin: 0;
    padding: 0;
    display: table-cell;
}
.external ul > li {
    display: inline-block;
    background-color: orange;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
.external img {
    width: 32px;
    height:32px;
}
.profile,
.nav,
.external {
    display: table-row;
}
body,
.control,
.nav button,
.external {
    background-color: black;
}
.background {
    animation: 1s ease-out 0s 1 slideInFromRight;
    background-image: url("../images/background-zelda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    flex: 1;
}
.background div {
    color: orange;
    transition: width 1s ease-out;
    background-color: white;
    height: 100%;
}
.collapsed {
    width: 0%;
}
.expanded {
    width: 100%;
}
